<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timogroup.tconf.dao.mapper.UserMapper">
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into user (id,username,password) values (#{id},#{userName},password(#{passWord}))
    </insert>
    <update id="update">
        update user set id=id
        <if test="null!=userName">
            ,username=#{userName}
        </if>
        <if test="null!=passWord">
            ,password=password(#{passWord})
        </if>
        where id=#{id}
    </update>
    <delete id="deleteById">
        delete from user where id=#{id}
    </delete>
    <select id="findById" resultType="com.timogroup.tconf.entity.User">
        select * from user where id=#{id}
    </select>
    <select id="findByUserNameAndPassWord" resultType="com.timogroup.tconf.entity.User">
        select * from user where username=#{userName} and password=password(#{passWord})
    </select>
    <select id="findAll" resultType="com.timogroup.tconf.entity.User">
        select * from user
    </select>
    <select id="findCountByUserName" resultType="int">
        select count(*) from user where username=#{userName}
    </select>
</mapper>