<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="tconf" class="com.timogroup.tconf.sdk.TConfPropertiesFactoryBean">
        <constructor-arg name="host" value="127.0.0.1"/>
        <constructor-arg name="port" value="8080"/>
        <property name="uuid" value="64fc64a7-c4a6-4963-a60e-1e0e4141c117"/>
    </bean>

    <context:property-placeholder properties-ref="tconf"/>

</beans>