<link href="../lib/css/bootstrap.css" rel="stylesheet">
<style type="text/css">
    .content {
        width: 400px;
        height: 600px;
    }
</style>
<div class="modal-content">
    <div class="modal-header" ng-init="init()">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h3 ng-cloak class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <form id="propsForm" ng-submit="save()">
            <input type="text" class="form-control" ng-cloak ng-model="name">
            <br>
            <textarea class="form-control content" ng-cloak ng-model="props"/>
            <br>
            <input type="submit" class="btn btn-primary" value="保存">
        </form>
    </div>
</div>