<div ng-init="init()">
    <button type="button" class="btn" ng-click="add()">增加配置</button>
    <table class="table">
        <thead>
        <tr>
            <th>名称</th>
            <th>UUID</th>
            <th>管理</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-cloak ng-repeat="item in list">
            <td>{{item.name}}</td>
            <td>{{item.uuid}}</td>
            <td>
                <button type="button" class="btn" ng-click="browse(item)">浏览</button>
                <button type="button" class="btn" ng-click="edit(item)">编辑</button>
                <button type="button" class="btn" ng-click="delete(item)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>