<div ng-init="init()">
    <button type="button" class="btn btn-primary" ng-click="add()">增加用户</button>
    <table class="table">
        <thead>
        <tr>
            <th>用户名</th>
            <th>管理</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-cloak ng-repeat="item in list">
           <div class="row">
               <td class="col-md-3">{{item.userName}}</td>
               <td class="col-md-4">
                   <button type="button" class="btn btn-primary" ng-click="update(item)">修改密码</button>
                   <button type="button" class="btn btn-danger" ng-click="delete(item)">删除</button>
               </td>
           </div>
        </tr>
        </tbody>
    </table>
</div>